
/*resets*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body + animaciones*/

body {
    background: linear-gradient(#75C2F6, rgb(120, 120, 238)); 
    flex-direction: column;
    margin: 0 auto;
    display: block;

}
/*
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-areas: 
"header header header header"
"main main main aside"
"footer footer footer footer";
*/
main {
    margin: 0;
    padding: 60px;
    }

/*encabezado y nav*/

h1 {
    color: #e9d6af;
    font-family: "Mystery Quest", cursive;
    padding-left: 10px;
    font-size: x-large;
}

h2, h3 {
    font-family: "Mystery Quest", cursive;
    color: black;
}
header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #1D5D9B;
    align-items: center;
    padding: 50px;
}

.logo { 
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    height: 50px;
}

nav a {
    font-weight: 500;
    padding-right: 5px;
    color: #e9d6af;
    font-family: "Mystery Quest", cursive;
}

/*lista menu*/

nav li {
    text-align: center;
    display: inline;
}

/* Principal MAIN - SECCIONES - ARTICULOS*/

.mascotas {
    margin: 0;
    padding: 86px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 350px;
    column-gap: 10px;
    grid-gap: 10px;
}

.pets {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.grid-item {
    border: solid 2px;
    text-align: center;
    font-family: "Mystery Quest";
    text-align: match-parent;
    overflow: scroll;
}

/* FUENTE DE LETRA */
@font-face {
    font-family: "Mystery Quest";
    src: url("./fonts/mustery-quest.ttf");
}

p {
    font-family: "Mystery Quest", cursive;
    color: black;
    font-size: large;
}

.textoingreso {

    width: 350px;
    height: 400px;
    padding: 50px 30px 20px 60px;
}


/*cajas mascotas*/
.flex-caja {
    display: inline-block;
    width: 35%;
    height: 35%;
    background-color: #e9d6af;
    overflow: auto;
    border-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;

}

.flex-caja img {
    width: 100%;
    object-position: center;
    justify-content: center;
    align-items: center;

}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    justify-content: center;
}

.info-mascota {
    text-align: center;

}

/*link selector MP y transito*/

.registracion {

    width: 400px;
    border-radius: 4px;
    font-family: 'calibri';
    align-items: stretch;
    align-content: center;
}

.registracion p {
    text-align: center;
    font-size: 25px;
}

.container {
    width: 90%;
    max-width: 600px;
    border-radius: 5px;
    padding: 50px;
    }

/*Formulario y boton*/

input, textarea, select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

label {
    padding: 5px 5px 5px 0;
    display: inline-block;
}

div button {
    background-color: #5A96E3;
    color: white;
    padding: 2px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    transition: width 2s;
}

.donacion :hover {
    font-style: italic;
    transform: scale(1.1);
    border-radius: 5px;
    width: auto;
    height: auto;
    background-color: #5A96E3;
    color: white;
}

/*footer*/
.piedepag {
    background-color: #6528F7;
    font-size: small;
    height: 70px;
    padding: 20px;
}

.rrss {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    font-size: 20px;
    color: #e9d6af;
    font-family: "Mystery Quest", cursive;
}

/*MEDIA QUERIES - Mobile*/


@media (max-width: 576px) {

    section .grid-container {
        grid-template-columns: auto;
    }

    ul {

    }
}

/*
@media (max-width: 576px) {
    .col-25, .col-75, button [type=submit] {
    width: 100%;
    margin-top: 0;
    }
}

/*MEDIA QUERIES - DESKTOP
@media (min-width: 992px) {

}



/* A IMPLEMENTAR
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row {
    content: "";
    display: table;
    clear: both;
}